{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "universal-import",
    "react-loadable/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
