{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    ["import", { "libraryName": "antd" }],
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    "react-loadable/babel"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
