{
  "extends": [
    "standard",
    "standard-react",
    "plugin:jest/recommended"
  ],
  "plugins": ["jest"],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-debugger": "warn",
    "comma-dangle": 0,
    "quotes": [2, "single", "avoid-escape"],
    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-no-bind": [1, {"ignoreRefs": false, "allowArrowFunctions": true, "allowBind": false}],
    "no-unused-vars": [1],
    "no-return-assign": 0,
    "padded-blocks": 0,
    "prefer-promise-reject-errors": 0
  },
  "env": {
    "jest/globals": true
  }
}
