
.tripList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tripListItem {

  hr {
    border: 0;
    border-top: 1px solid rgba(8, 8, 8, .1);
    margin: 0;
  }

  a {
    display: flex;
    align-items: stretch;
    color: rgba(255, 255, 255, 1);
    transition: all .2s;

    &:hover {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(105, 192, 255, .2);
    }
  }

  .date {
    flex: 0 1 60px;
    text-align: center;
    margin: 10px 0;
    padding: 0 10px;
    border-right: 1px solid rgba(8, 8, 8, .1);

    .start {
      font-size: 16px;
      line-height: 14px;
      text-transform: uppercase;

      span:first-child {
        display: block;
        font-size: 24px;
        line-height: 26px;
      }
    }
  }

  .meta {
    flex: 1;
    padding: 10px;
    min-width: 0;

    > * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    h3 {
      margin: 0;
      color: inherit;
      font-size: 16px;
    }

    p {
      margin: 0;
    }
  }

  .actions {
    flex: 0 1 150px;
    padding: 10px;
  }
}

